<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Eddy-Dev - {{ title }}</title>

  {% include 'header.html' %}

</head>
<body id="home">
  <div class="ui inverted masthead segment">
    <div class="ui page grid">
      <div class="column">
          {% include 'menu.html' %}
      </div>
    </div>
  </div>
  <div class="ui vertical feature segment" style="z-index: 1">
    <div class="ui centered page grid">
      <div class="column">
        <div class="ui piled segment">
            <img src="web/img/StrichHalb.png" class="ui medium image" id="right">
            <h2><i class="info letter large icon"></i>Über dieses Projekt</h2>
            <h4><i class="heart large icon"></i> Erstellt mit <a href="http://semantic-ui.com">Semantic-UI</a> und <a href="http://twig.sensiolabs.org/">Twig</a></h4>
            <h4><i class="linux large icon"></i> Läuft auf einem Ubuntu Linux Server mit Nginx und PHP5</h4>
            <h4><i class="css3 large icon"></i> Nutzt CSS3 Features</h4>
            <h4><i class="github alternate large icon"></i> Quellcode auf <a href="https://github.com/Der-Eddy/Eddy-Dev">Github</a> verfügbar</h4>
            <h4 class="ui header">Impressum</h4>
            <addr>
              Eduard Nikoleisen<br>
              Nürnbergerstraße 14<br>
              D-93155 Hemau<br>
            </addr>
      </div>
      </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}
</body>

</html>
