<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Eddy-Dev - {{ title }}</title>

  {% include 'header.html' %}

</head>
<body id="home">
  <div class="ui inverted masthead segment">
    <div class="ui page grid">
      <div class="column">
          {% include 'menu.html' %}
      </div>
    </div>
  </div>
  <div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="column">
        <h5 class="ui header">Impressum</h5>
        <addr>
          Eduard Nikoleisen<br>
          Nürnbergerstraße 14<br>
          D-93155 Hemau<br>
        </addr>
      </div>
      </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}
</body>

</html>
